form {
  background: #b1ddea;
  height: 300px;
  width: 400px;
  margin: 20px;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
}
#postTitle {
  height: 20px;
  margin-bottom: 5px;
  border: 1px solid black;
}

#thoughts {
  height: 200px;
  margin-bottom: 5px;
  text-emphasis: wrap;
  border: 1px solid black;
}
button {
  margin-top: 5px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
}
